<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form [formGroup]="registeredUser" >
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Email" name="Email" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="Password" name="Password" />
                </div>
                <button type="submit" class="btn btn-primary" (click)="UserRegistration()">Register</button>
            </form>
        </div>
    </div>
</div>